body {
    background-image: url("images/balls.gif");
    background-repeat: repeat;
}

th, td {
    padding: 15px;
    text-align: center;
    vertical-align:middle;
}

.panel-with-scroll {
    max-height: 300px;
    overflow-y:scroll; 
}

.img-mini {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.container-float{
    padding-top:20px;
    padding-bottom:20px;
    background-color:WhiteSmoke;
}

.align-content-left {
    align-content: left;
}

.align-content-right {
    align-content: right;
}
